[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-CommandsWithParameter=/usr/bin/terminator "%s"
Icon=terminator
Name=terminator
X-XFCE-Commands=/usr/bin/terminator

