[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=WebBrowser
X-XFCE-CommandsWithParameter=/usr/bin/chromium-browser "%s"
Icon=chromium-browser
Name=chromium-browser
X-XFCE-Commands=/usr/bin/chromium-browser

